<footer class="site-footer bg-image" [ngStyle]="{'background-image': getUrl()}">

  <a href="#top" class="smoothscroll scroll-top">
    <span class="icon-keyboard_arrow_up"></span>
  </a>

  <div class="container">
    <div class="row mb-5">
      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <h3 class="text-dark">Search Trending</h3>
        <ul class="list-unstyled">
          <li><a href="#" class="text-black-50">Web Design</a></li>
          <li><a href="#" class="text-black-50">Graphic Design</a></li>
          <li><a href="#" class="text-black-50">Web Developers</a></li>
          <li><a href="#" class="text-black-50">Python</a></li>
          <li><a href="#" class="text-black-50">HTML5</a></li>
          <li><a href="#" class="text-black-50">CSS3</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <h3 class="text-dark">Company</h3>
        <ul class="list-unstyled">
          <li><a href="#" class="text-black-50">About Us</a></li>
          <li><a href="#" class="text-black-50">Career</a></li>
          <li><a href="#" class="text-black-50">Blog</a></li>
          <li><a href="#" class="text-black-50">Resources</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <h3 class="text-dark">Support</h3>
        <ul class="list-unstyled">
          <li><a href="#" class="text-black-50">Support</a></li>
          <li><a href="#" class="text-black-50">Privacy</a></li>
          <li><a href="#" class="text-black-50">Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-4 mb-md-0">
        <h3 class="text-dark">Contact Us</h3>
        <div class="footer-social">
          <a href="#"><span class="icon-facebook"></span></a>
          <a href="#"><span class="icon-twitter"></span></a>
          <a href="#"><span class="icon-instagram"></span></a>
          <a href="#"><span class="icon-linkedin"></span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
