<section class="section-hero overlay inner-page bg-image" [ngStyle]="{'background-image': getUrl()}" id="home-section">

</section>

<section class="site-section bg-light">
  <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col-md-3 mb-3" style="width: 200px;">
        <div class="mj-block mj-profile-push ">
          <header>
            <div class="img-wrapper">
              <a href="/candidate-console/profile" data-event-category="PROFILE_PUSH" data-event-action="Click" data-event-label="VIEW_METEO">
                <span class="sr-only">Mon profil complété à 93</span>
                <span id="progress-bar" aria-hidden="true" class="profile-progress-bar" data-percent="93"><svg viewBox="0 0 100 100" style="display: block; width: 100%;"><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#eee" stroke-width="10" fill-opacity="0"></path><path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" stroke="#3498db" stroke-width="10" fill-opacity="0" style="stroke-dasharray: 282.783, 282.783; stroke-dashoffset: 19.7948;"></path></svg><div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(22, 53, 78); font-size: 14px;">93%</div></span>
              </a>
            </div>
            <div class="title filling-rate-93">

              <a href="/candidate-console/profile" data-event-category="PROFILE_PUSH" data-event-action="Click" data-event-label="VIEW_METEO">
                <strong data-candidate-fullname="">Gargouri Amin</strong>
              </a>
              <br>

              <a class="link-ninja " href="/candidate-console/profile" data-event-category="PROFILE_PUSH" data-event-action="Click" data-event-label="VIEW_METEO">

                Mettre à jour mon profil

              </a>
            </div>
          </header>

          <ul class="links">
            <li>
              <a href="/candidate-console/offers/saved">
                <span aria-hidden="true" class="fa mj-icon-offer-save-o"></span>
                Mes favoris (<span data-saved-offer-count="">2</span>)
              </a>
            </li>
            <li>
              <a href="/candidate-console/applications">
                <span aria-hidden="true" class="fa fa-paper-plane-o"></span>
                Mes candidatures (2)
              </a>
            </li>
            <li>
              <a href="/candidate-console/email-alerts">
                <span aria-hidden="true" class="ft ft-bell"></span>
                Mes alertes
              </a>
            </li>
          </ul>
        </div>
        <div class="search-filters mj-block" data-tracking-event-label="VIEW_METEO">
          <section>
            <fieldset>
              <legend class="h5">Localisation</legend>
              <div id="mj-filter-location">
                <ul>
                  <li class="checkbox">
                    <input type="checkbox" value="2988506:2968815:3012874:3017382" id="location-2988506:2968815:3012874:3017382" autocomplete="off">
                    <label for="location-2988506:2968815:3012874:3017382">Paris (35)</label>
                  </li>
                  <li class="checkbox">
                    <input type="checkbox" value="6451974:3013657:3012874:3017382" id="location-6451974:3013657:3012874:3017382" autocomplete="off">
                    <label for="location-6451974:3013657:3012874:3017382">Meudon (8)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="6451978:3013657:3012874:3017382" id="location-6451978:3013657:3012874:3017382" autocomplete="off">
                    <label for="location-6451978:3013657:3012874:3017382">Puteaux (5)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="6455399:3013657:3012874:3017382" id="location-6455399:3013657:3012874:3017382" autocomplete="off">
                    <label for="location-6455399:3013657:3012874:3017382">Courbevoie (5)</label>
                  </li>

                </ul>
                <ul class="collapse" id="mj-more-filters-location">
                  <li class="checkbox">
                    <input type="checkbox" value="6451962:3013657:3012874:3017382" id="location-6451962:3013657:3012874:3017382" autocomplete="off">
                    <label for="location-6451962:3013657:3012874:3017382">Boulogne-Billancourt (4)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="6444093:2967196:3012874:3017382" id="location-6444093:2967196:3012874:3017382" autocomplete="off">
                    <label for="location-6444093:2967196:3012874:3017382">Vélizy-Villacoublay (1)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="6451982:3013657:3012874:3017382" id="location-6451982:3013657:3012874:3017382" autocomplete="off">
                    <label for="location-6451982:3013657:3012874:3017382">Suresnes (1)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="6452001:2975246:3012874:3017382" id="location-6452001:2975246:3012874:3017382" autocomplete="off">
                    <label for="location-6452001:2975246:3012874:3017382">Pantin (1)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="6455342:2975246:3012874:3017382" id="location-6455342:2975246:3012874:3017382" autocomplete="off">
                    <label for="location-6455342:2975246:3012874:3017382">Saint-Ouen (1)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="6613168:2971090:3012874:3017382" id="location-6613168:2971090:3012874:3017382" autocomplete="off">
                    <label for="location-6613168:2971090:3012874:3017382">Arcueil (1)</label>
                  </li>
                </ul>
                <a href="#mj-more-filters-location" role="button" rel="nofollow" data-toggle="collapse" title="Plus de filtres">+ de filtres</a>
              </div>
            </fieldset>

            <fieldset>
              <legend class="h5">Type de contrat</legend>
              <div id="mj-filter-contracts">
                <ul>
                  <li class="checkbox">
                    <input type="checkbox" value="TRAINING" id="contracts-TRAINING" autocomplete="off">
                    <label for="contracts-TRAINING">Stage (64)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="CDI" id="contracts-CDI" autocomplete="off">
                    <label for="contracts-CDI">CDI (8)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="CDI" id="contracts-CDD" autocomplete="off">
                    <label for="contracts-CDD">CDD (12)</label>
                  </li>
                </ul>
              </div>
            </fieldset>
            <fieldset>
              <legend class="h5">Secteur d'activité</legend>
              <div id="mj-filter-industries">
                <ul>

                  <li class="checkbox">
                    <input type="checkbox" value="11" id="industries-11" autocomplete="off">
                    <label for="industries-11">ESN, Editeurs de logiciel, Services informatiques (15)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="37" id="industries-37" autocomplete="off">
                    <label for="industries-37">Recrutement et placement (3)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="14" id="industries-14" autocomplete="off">
                    <label for="industries-14">Services à domicile (1)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="36" id="industries-36" autocomplete="off">
                    <label for="industries-36">Internet, e-commerce (1)</label>
                  </li>
                </ul>
              </div>
            </fieldset>
            <fieldset>
              <legend class="h5">Poste</legend>
              <div id="mj-filter-jobs">
                <ul>
                  <li class="checkbox">
                    <input type="checkbox" value="843" id="jobs-843" autocomplete="off">
                    <label for="jobs-843">Développeur (24)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="6152" id="jobs-6152" autocomplete="off">
                    <label for="jobs-6152">Développeur web (10)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="7359" id="jobs-7359" autocomplete="off">
                    <label for="jobs-7359">Ingénieur de développement informatique (9)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="9959" id="jobs-9959" autocomplete="off">
                    <label for="jobs-9959">Développeur Full-stack (8)</label>
                  </li>
                </ul>
                <ul class="collapse" id="mj-more-filters-jobs">
                  <li class="checkbox">
                    <input type="checkbox" value="3365" id="jobs-3365" autocomplete="off">
                    <label for="jobs-3365">Ingénieur informatique (7)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="6972" id="jobs-6972" autocomplete="off">
                    <label for="jobs-6972">Ingénieur en développement (4)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="7392" id="jobs-7392" autocomplete="off">
                    <label for="jobs-7392">Ingénieur d'études et développement informatique (4)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="1090" id="jobs-1090" autocomplete="off">
                    <label for="jobs-1090">Assistant ingénieur (3)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="3401" id="jobs-3401" autocomplete="off">
                    <label for="jobs-3401">Ingénieur d'étude (3)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="9423" id="jobs-9423" autocomplete="off">
                    <label for="jobs-9423">Développeur back end (3)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="9424" id="jobs-9424" autocomplete="off">
                    <label for="jobs-9424">Développeur front end (3)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="838" id="jobs-838" autocomplete="off">
                    <label for="jobs-838">Développeur informatique (2)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="8510" id="jobs-8510" autocomplete="off">
                    <label for="jobs-8510">Consultant business intelligence (2)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="9558" id="jobs-9558" autocomplete="off">
                    <label for="jobs-9558">Concepteur Intégrateur (2)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="10015" id="jobs-10015" autocomplete="off">
                    <label for="jobs-10015">Chargé de développement informatique (1)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="10210" id="jobs-10210" autocomplete="off">
                    <label for="jobs-10210">Ingénieur étude et développement mobile (1)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="11544" id="jobs-11544" autocomplete="off">
                    <label for="jobs-11544">Développeur logiciel (1)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="2224" id="jobs-2224" autocomplete="off">
                    <label for="jobs-2224">Consultant décisionnel (1)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="2241" id="jobs-2241" autocomplete="off">
                    <label for="jobs-2241">Consultant ERP (1)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="2572" id="jobs-2572" autocomplete="off">
                    <label for="jobs-2572">Développeur PHP (1)</label>
                  </li>

                  <li class="checkbox">
                    <input type="checkbox" value="3432" id="jobs-3432" autocomplete="off">
                    <label for="jobs-3432">Consultant JAVA (1)</label>
                  </li>
                </ul>

                <a href="#mj-more-filters-jobs" role="button" rel="nofollow" data-toggle="collapse" title="Plus de filtres">+ de filtres</a>
              </div>
            </fieldset>
          </section>
        </div>
      </div>

      <div class="col-md-9">
        <div class="row">
          <ul class="mj-offers-list" data-meteo="true">
            <li *ngFor="let matchedPost of matchedPosts">
              <article class="mj-offer logged shadow" data-url="/jobsearch/api/offer/9271179" data-meteo="true" data-id="9271179" id="offerId9271179">
                <!-- Main data -->
                <header class="clearfix">
                  <!--  Logo -->
                  <div class="logo  ">
                    <span>
                      <span>
                        <img src="https://www.tanitjobs.com/files/pictures/manwork_logo.png" data-toggle="tooltip"
                             data-container=".mj-offer" title="" alt="La Relève" data-original-title="Entreprise : La Relève">
                      </span>
                    </span>
                  </div>

                  <!-- Header data -->
                  <div class="header-data logoPresent">
                    <h2 class="title">
                      {{matchedPost.job_title}}

                    </h2>
                    <div class="info">
                      <ul class="list-unstyled">
                        <!--  Weather -->
                        <li class="meteo dropdown dropdown-hover">
                          <a href="/candidat/offres/stages-business-developer-h-f-paris-ile-de-france-stage-9271179?scroll=aW5kZXg9MCZ0b3RhbD0yNDAmbXktbWV0ZW89dHJ1ZQ==">
                            <img alt="" src="//media.meteojob.com/theme/2.3/images/scoring/24/sun-clouded.png?201802221640&amp;d79e5665be3ae245210fa550e162c2273bdbe454" srcset="//media.meteojob.com/theme/2.3/images/scoring/24/sun-clouded.png?201802221640&amp;d79e5665be3ae245210fa550e162c2273bdbe454 1x, //media.meteojob.com/theme/2.3/images/scoring/48/sun-clouded.png?201802221640&amp;c4661de83f389edf82c5fe5e6c914e8455b1853d 2x" title="" data-toggle="tooltip" data-original-title="Proche de votre profil">
                          </a>
                        </li>

                        <li class="visible-xs-inline">
                          <span>La Relève</span>
                          <span>•</span>
                        </li>

                        <li><h3>Stage</h3></li>
                        <li><h3> - 6 mois</h3></li>
                        <li>
                          <span>•</span>
                          <h3>Paris (75)</h3>
                        </li>
                      </ul>
                    </div>
                    <div class="tags">
                      <div class="published-date">Il y a 24 heures</div>
                    </div>
                  </div>
                </header>

                <!-- Offer preview -->
                <div class="preview-wrapper">
                  <div class="preview">
                    {{matchedPost.job_description}}
                  </div>
                  <div class="loader">
                    <img aria-live="polite" role="status" src="//media.meteojob.com/jobsearch/assets/images/spinner/64.gif?201802221640&amp;a9100b88545982fd5f1fa3a8319d716054891513" alt="En cours de chargement...">
                  </div>
                </div>

                <!-- Preview collapse trigger -->
                <div class="details hidden-xs">
                  <div id="offerDetails_9271179" class="details-content collapse"></div>
                  <div class="details-footer" data-details-title="Stages Business Developer (H/F) Paris (75) - Île-de-France - Stage">
                    <a class="link-ninja offer-details-toggle" data-hide-text="Masquer l'offre d'emploi" data-show-text="Détails" href="#offerDetails_9271179">
                      <span data-collapse-text="">Détails</span>
                      <span aria-hidden="true" class="fa fa-caret-down"></span>
                      <span aria-hidden="true" class="fa fa-caret-up"></span>
                    </a>
                  </div>
                </div>

                <!-- Bottom right footer -->
                <div class="footer-right">
                  <div class="action-buttons">
                    <!-- Remove icon -->
                    <div class="remove-offer">
                      <button class="fa fa-trash" title="" data-toggle="tooltip" data-event-category="REMOVE_OFFER" data-event-action="Click" data-event-label="VIEW_METEO" data-original-title="Retirer de ma météo">
                        <span class="sr-only">Retirer de ma météo</span>
                      </button>
                    </div>

                    <!-- Save icon -->
                    <div class="save-offer">
                      <button data-btn-save="" class="link-ninja mj-offer-save fa mj-icon-offer-save-o" title="" data-toggle="tooltip" data-save-msg="Sauvegarder l'offre" data-unsave-msg="Retirer de mes favoris" data-event-category="SAVE_OFFER" data-event-action="Click" data-event-label="VIEW_METEO" data-offer-id="9271179" data-original-title="Sauvegarder l'offre">
                        <span class="sr-only">
                            <span class="remove">Retirer de mes favoris</span>
                            <span class="save">Sauvegarder l'offre</span>
                        </span>
                      </button>
                    </div>
                  </div>
                  <!-- Application date -->
                </div>

                <!-- Block link -->
                <a class="block-link"
                   href="/candidat/offres/stages-business-developer-h-f-paris-ile-de-france-stage-9271179?scroll=aW5kZXg9MCZ0b3RhbD0yNDAmbXktbWV0ZW89dHJ1ZQ==" rel="nofollow">
                  <span class="sr-only">Business Developer - Startup Tech</span>
                </a>


              </article>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
