<section class="home-section section-hero overlay bg-image" [ngStyle]="{'background-image': getUrl()}" id="home-section">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12">
        <div class="mb-5 text-center">
          <h1 class="text-white font-weight-bold">The Easiest Way To Get Your Dream Job</h1>
          <p>A fresh new free template handcrafted by the fine folks at <a href="https://free-template.co/" target="_blank" class="spepcial_link text-white">Free-Template.co</a> </p>
        </div>
        <form method="post" class="search-jobs-form">
          <div class="row mb-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <input type="text" class="form-control form-control-lg" placeholder="Job title, Company...">
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select class="custom-select-lg custom-select" data-style="btn-white btn-lg" data-width="100%" data-live-search="true" title="Select Region">
                <option>Anywhere</option>
                <option>San Francisco</option>
                <option>Palo Alto</option>
                <option>New York</option>
                <option>Manhattan</option>
                <option>Ontario</option>
                <option>Toronto</option>
                <option>Kansas</option>
                <option>Mountain View</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <select class="custom-select-lg custom-select" data-style="btn-white btn-lg" data-width="100%" data-live-search="true" title="Select Job Type">
                <option>Part Time</option>
                <option>Full Time</option>
              </select>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 popular-keywords">
              <h3>Trending Keywords:</h3>
              <ul class="keywords list-unstyled m-0 p-0">
                <li><a href="#" class="">UI Designer</a></li>
                <li><a href="#" class="">Python</a></li>
                <li><a href="#" class="">Developer</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <a href="#next" class="scroll-button smoothscroll">
    <span class=" icon-keyboard_arrow_down"></span>
  </a>

</section>

<section class="py-5 bg-image overlay-primary fixed overlay" id="next" [ngStyle]="{'background-image': getUrl()}">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2 text-white">JobBoard Site Stats</h2>
        <p class="lead text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde officiis recusandae sequi excepturi corrupti.</p>
      </div>
    </div>
    <div class="row pb-0 block__19738 section-counter">

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="1930">1238</strong>
        </div>
        <span class="caption">Candidates</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="54">19</strong>
        </div>
        <span class="caption">Jobs Posted</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="120">34</strong>
        </div>
        <span class="caption">Jobs Filled</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <strong class="number" data-number="550">567</strong>
        </div>
        <span class="caption">Companies</span>
      </div>


    </div>
  </div>
</section>



<section class="site-section">
  <div class="container">

    <div class="row mb-5 justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-2">43,167 Job Listed</h2>
      </div>
    </div>
    <div class="workshop shadow bg-white mb-3" *ngFor="let post of posts | paginate: config">
      <div class="row">
        <div class="col-md-8">
          <img [src]="post.recruiter.company_logo" alt="Image" style="height:20px;">
        </div>
        <div class="col-md-4">
          <button type="button" (click)="viewDetailPost(post.id)" class="btn btn-outline-primary btn-sm ml-lg-5">Détails</button>
          <button type="button" class="btn btn-outline-primary btn-sm ml-1">Postuler</button>
        </div>
      </div>

      <h3><a routerLink="/home">{{post.job_title}}</a></h3>
      <p>{{post.job_description | slice:0:200}}</p>
      <div class="ad-meta">
        <div class="meta-content">
          <span class="dated"><a routerLink="/home"><i class="fa fa-calendar fa-sm"></i>&nbsp;<b>{{post.expiration_date}}</b></a></span>
        </div>
        <div class="user-option pull-right">
          <div class="mt-1 mr-3">
            <i class="icon-location-pin icons"></i>&nbsp;<u>{{post.recruiter.address}}</u>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row pagination-wrap">
      <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
        <span>Showing 1-4 Of {{posts.length}} Jobs</span>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <div class="custom-pagination ml-auto" >
          <pagination-template #p="paginationApi"
                               (pageChange)="pageChange($event)">
            <a class="prev" style="cursor: pointer;" [class.disabled]="p.isFirstPage()" *ngIf="!p.isFirstPage()" (click)="p.previous()">Prev</a>
            <div class="d-inline-block" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
              <a style="cursor: pointer;" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{page.label}}</a>
              <a class="active" style="cursor: pointer;" *ngIf="p.getCurrent() === page.value">{{page.label}}</a>
            </div>
            <a class="next" style="cursor: pointer;" [class.disabled]="p.isLastPage()" *ngIf="!p.isLastPage()" (click)="p.next()">Next</a>
          </pagination-template>
        </div>
      </div>
    </div>
<!--    <div class="row pagination-wrap">-->
<!--      <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">-->
<!--        <span>Showing 1-7 Of 43,167 Jobs</span>-->
<!--      </div>-->
<!--      <div class="col-md-6 text-center text-md-right">-->
<!--        <div class="custom-pagination ml-auto">-->
<!--          <a href="#" class="prev">Prev</a>-->
<!--          <div class="d-inline-block">-->
<!--            <a href="#" class="active">1</a>-->
<!--            <a href="#">2</a>-->
<!--            <a href="#">3</a>-->
<!--            <a href="#">4</a>-->
<!--          </div>-->
<!--          <a href="#" class="next">Next</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  </div>
</section>

<section class="py-5 bg-image overlay-primary fixed overlay" [ngStyle]="{'background-image': getUrl()}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h2 class="text-white">Looking For A Job?</h2>
        <p class="mb-0 text-white lead">Lorem ipsum dolor sit amet consectetur adipisicing elit tempora adipisci impedit.</p>
      </div>
      <div class="col-md-3 ml-auto">
        <a href="#" class="btn btn-warning btn-block btn-lg">Sign Up</a>
      </div>
    </div>
  </div>
</section>




